<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".g.cs" #>
namespace FIRConvolution.Tests;

<#
	var names = new[]
	{
		"ScalarFullBand",
		"ScalarHalfBandLoopFull",
		"ScalarHalfBandLoopHalf",
		"VectorFullBandInner",
		"VectorFullBandOuter",
		"VectorFullBandOuterInner",
		"VectorHalfBandLoopFullInner",
		"VectorHalfBandLoopFullOuter",
		"VectorHalfBandLoopFullOuterInner",
		"VectorHalfBandLoopHalfInner",
		"VectorHalfBandLoopHalfOuter",
		"VectorHalfBandLoopHalfOuterInner"
	};

	for (var i = 1; i <= 20; i++)
	{
		var bandwidth = i * 441;
		var className = bandwidth.ToString("D4");
#>
[TestClass]
[UnitTestFilter(<#= bandwidth #>)]
public sealed class UnitTestFilter<#= className #> : UnitTestFilter
{
<#
		foreach (var name in names)
		{
#>
	[TestCategory("<#= name #>")]
	[TestCategory("<#= className #>")]
	[TestMethod]
	public unsafe void <#= name #><#= className #>()
		=> TestFilter(
			Filter.<#= name #>Create,
			Filter.<#= name #>,
			<#= bandwidth #>);

<#
		}
#>
}

<#
	}
#>